body {
    font-family: Arial, sans-serif;
    background-color: #f9f2e0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 50%;
    background-color: #ffd097;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
}

#main-heading {
    background-color: #c35500;
    text-align: center;
    margin: 0;
    padding: 20px;
    border-radius: 8px 8px 0 0;
    font-size: 24px;
    border-bottom: 2px solid #444;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.list-items {
    background-color: #ffa30e;
    padding: 10px 20px;
    border-bottom: 2px solid #333;
}

.list-items:last-child {
    border-bottom: none;
    border-radius: 0 0 8px 8px;
}